<?xml version="1.0" encoding="UTF-8"?>
<widget id="br.com.condominio.correspondencias" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Correspondencias</name>
  <description>Gestao de correspondencias do condominio.</description>
  <author email="gutosamuel4@gmail.com" href="https://techcodesoftwares.com">Condominio</author>
  <content src="login.html" />
  <access origin="*" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="whatsapp:*" />
  <plugin name="cordova-plugin-camera" spec="^8.0.0" />
  <plugin name="cordova-plugin-device" spec="^2.1.0" />
  <plugin name="cordova-plugin-mobile-ocr" spec="^3.1.3" />
  <platform name="android">
    <icon density="ldpi" src="res/icon/android/ldpi.png" foreground="res/icon/android/ldpi-foreground.png" background="res/icon/android/ldpi-background.png" monochrome="res/icon/android/ldpi-monochrome.png" />
    <icon density="mdpi" src="res/icon/android/mdpi.png" foreground="res/icon/android/mdpi-foreground.png" background="res/icon/android/mdpi-background.png" monochrome="res/icon/android/mdpi-monochrome.png" />
    <icon density="hdpi" src="res/icon/android/hdpi.png" foreground="res/icon/android/hdpi-foreground.png" background="res/icon/android/hdpi-background.png" monochrome="res/icon/android/hdpi-monochrome.png" />
    <icon density="xhdpi" src="res/icon/android/xhdpi.png" foreground="res/icon/android/xhdpi-foreground.png" background="res/icon/android/xhdpi-background.png" monochrome="res/icon/android/xhdpi-monochrome.png" />
    <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" foreground="res/icon/android/xxhdpi-foreground.png" background="res/icon/android/xxhdpi-background.png" monochrome="res/icon/android/xxhdpi-monochrome.png" />
    <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" foreground="res/icon/android/xxxhdpi-foreground.png" background="res/icon/android/xxxhdpi-background.png" monochrome="res/icon/android/xxxhdpi-monochrome.png" />
  </platform>
  <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
    <application android:usesCleartextTraffic="true" />
  </edit-config>
  <preference name="Orientation" value="portrait" />
  <preference name="StatusBarOverlaysWebView" value="false" />
</widget>
